<p id="notice"><%= notice %></p>

<h1>Paper Management System</h1>
Welcome to the paper management system. Here you can manage papers and authors. Use the REST api, provided for the ressources papers and authors.
